<?xml version="1.0" encoding="UTF-8"?>

<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>

        <service id="blackowl_sylius_um.listener.admin.menu_builder"
                 class="Blackowl\SyliusUmPlugin\Menu\AdminMenuListener">
            <tag name="kernel.event_listener" event="sylius.menu.admin.main" method="addAdminMenuItems"/>
        </service>

        <service id="blackowl_sylius_um.listener.admin.product_form_menu_builder"
                 class="Blackowl\SyliusUmPlugin\Menu\AdminProductFormMenuListener">
            <tag name="kernel.event_listener" event="sylius.menu.admin.product.form" method="addItems"/>
        </service>

        <service id="blackowl_sylius_um.admin.menu_builder.um_form"
                 class="Blackowl\SyliusUmPlugin\Menu\ProductUmFormMenuBuilder">
            <argument type="service" id="knp_menu.factory" />
            <argument type="service" id="event_dispatcher" />
            <tag name="knp_menu.menu_builder" method="createMenu" alias="blackowl_sylius_um.admin.um_form" />
        </service>
    </services>
</container>
